.junk/
360controller*
chapter*
config.cfg
full-config.cfg
hudlayout.res
initial.cfg
mapcycle*
motd_*
mtp.cfg
pure_server_*
qvalve-connect.cfg
qvalve.cfg
replay_example.cfg
server_*
settings.scr
sfm_*
sixense_*
sourcevr_*
tf2-monitor-fkeys.cfg
tf2-monitor-work.cfg
trusted_keys_*
undo360controller*
user.scr
vars*
